@media (max-width: 400px) {
  .project-content {
    background-color: #333333;
    display: flex;
    justify-content: center;
    padding: 150px 25px;
  }

  .description-project {
    width: 100%;
    margin-top: 15px;
    padding-left: 15px;
    font-size: 20px;
  }
  
  .img-content {
    display: none;
  }
  
  .header-content-project {
    padding-bottom: 30px;
    font-size: 33px;
  }
  
  .title-project {
    color: #8989f5;
    font-size: 25px;
  }
  
  .div-project {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #141414;
    width: 340px;
  }
  
  .link-to-project {
    margin-top: 10px;
  }
    
}