.main-page {
  background-image: url('../../img/background/Sem_titulo-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.greeting {
  font-size: 40px;
  color: darkgray;
}

.my-name {
  font-size: 60px;
  color: lightgray;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
}


.caixa {
  width: 100px;
  height: 100px;
}